@font-face {
   font-family: 'Abril Fatface';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Mazil%20Khatib/Documents/GitHub/mazilkhatib.github.io//fonts/Abril Fatface/regular.ttf') format('truetype');
}
